<div style="padding-top: 20px" class="ui container ">
  <div class="ui stackable centered" style="margin-bottom: 20px;">
    <p>Balance is hard to keep, but everyday something I attempt. I enjoy coding, creating and the continuous development it takes in order to continue company progress. Writing about these different projects is a bit more difficult but almost just as important. The better I am becoming at being able to write about the projects I am working on and their goals, the easier it becomes to come up with working functions to meet the given project's goals programmatically. The more years I spend coding, the more important it becomes to me to stay creative, and writing has become a way for me to keep the balance between problem solving and creativity.</p>
    <h3>Here are a few blogs that I am currently managing :</h3>
  </div>
  
  <div class="ui stackable centered four cards">
    {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
      {% for page in essay_pages %}
        {% unless page.draft %}
          {% include essay-card.html page=page %}
        {% endunless %}
      {% endfor %}
  </div>
</div>
